@{
    ViewBag.Title = "Inicio";
}

    <div class="jumbotron">
        <h1>Citas Medicas</h1>
        <p class="lead">Aplicación de citas medicas creada como trabajo final de la asigantura de programación IV.</p>
        <p>Creado por:</p>
        <p>Cristian Mauricio Guerrero</p>
        <p>Martha Milena</p>
        <p>Jhon Fredy</p>
    </div>

